/*CUSTOM-PROPS */

:root {
    --black: #000;
    --white: #fff;
    --red: #FD0635;
    --blue: #0094F5;
    --grey: #D9D9D9;
    --gray: #262626;
}


/* GLOBAL */

*:focus {
    outline: 0.6px dotted var(--black);
    outline-offset: 1px;
}

html {
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Inter', sans-serif;
    color: var(--white);
    background-color: var(--black);
}

img {
    max-width: 100%;
    height: auto;
}


/* AUTOFILL-STYLES */


/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/


/* PLACEHOLDER-STYLES */


/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/


/* VISUALLY-HIDDEN */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* CONTAINER */

.container {
    width: 100%;
    max-width: 400px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: auto;
    margin-left: auto;
}


/* MAIN-CONTENT */

.main-content {
    flex-grow: 1;
}


/* BUTTON */

.button {
    display: inline-block;
    padding: 8px 22px;
    font-size: 14px;
    line-height: 2;
    font-weight: 500;
    border: 2px solid transparent;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    border-radius: 5px;
}

.button:active {
    opacity: 0.6;
}


/* PHONE-HEADER */

.phn-header {
    padding-top: 2px;
    padding-bottom: 2px;
}

.phn-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.phn-header__time {
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.408px;
}

.phn-header__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.phn-header__item:not(:last-child) {
    margin-right: 8px;
}


/* INST-HEADER */

.inst-header {
    padding-top: 2px;
    padding-bottom: 2px;
}

.inst-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inst__header__f {
    display: flex;
    align-items: center;
}

.inst-header__f-icon {
    width: 13.3px;
    height: 16.6px;
    margin-right: 7px;
}

.inst-header__f-text {
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    margin-right: 4px;
}

.inst-header__f-count {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    padding: 0px 4px;
    gap: 8px;
    background: #FD0635;
    border-radius: 10px;
}

.inst__header__s {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inst__header__s-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
}

.inst__header__s-btn:not(:last-child) {
    background-color: transparent;
}

.inst__header__s-icon {
    width: 20px;
    height: 20px;
}


/* FIRST_COLUMN */

.inst-clmn1 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.inst-clmn1__container {
    display: flex;
    align-items: center;
}

.inst-clmn1__img {
    width: 80px;
    height: 80px;
    margin-right: 48px;
    border-radius: 50%;
}

.inst-clmn1__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.inst-clmn1__item:not(:last-child) {
    margin-right: 15px;
}

.inst-clmn1__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    align-items: center;
    display: flex;
    text-align: center;
}


/* SECOND_COLUMN */

.inst-clmn2 {
    padding-top: 2px;
    padding-bottom: 2px;
}

.inst-clmn2__container {}

.inst-clmn2__title {
    margin: 0;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
}

.inst-clmn2__text {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.inst-clmn2__btn-wrapp {
    margin-top: 0;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.inst-clmn2__btn {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 125px;
    padding-right: 125px;
    background-color: var(--gray);
    display: flex;
    color: var(--white);
    justify-content: center;
    cursor: pointer;
    border-radius: 9px;
    margin-right: 4px;
    border: 0;
}

.inst-clmn2__add {
    cursor: pointer;
    background-color: var(--gray);
    display: flex;
    justify-content: center;
    padding: 8.6px;
    border-radius: 9px;
    border: 0;
}

.inst-clmn2__icon {
    /* width: 14px;
    height: 14px; */
}

.inst-clmn2__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.inst-clmn2__item {
    display: flex;
    justify-content: center;
    padding: 4px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid var(--gray);
}

.inst-clmn2__item:not(:last-child) {
    margin-right: 16px;
}

.inst-clmn2__img {
    cursor: pointer;
    width: 53px;
    height: 53px;
    border-radius: 50%;
}


/* THIRD_COLUMN */

.inst-clmn3 {
    padding-top: 10px;
    padding-bottom: 0px;
}

.inst-clmn3__container {}

.inst-clmn3__header {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inst-clmn3__header-btn {
    display: flex;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 5px;
    padding-left: 54px;
    padding-right: 53px;
    border: 0;
}

.inst-clmn3__header-btn:hover {
    border-bottom: 2px solid var(--grey);
}

.inst-clmn3__header-icon {
    width: 20px;
    height: 20px;
}

.inst-clmn3__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.inst-clmn3__item {
    height: 127px;
    margin-bottom: 3px;
}

.inst-clmn3__item:not(:last-child) {
    margin-right: 3px;
}

.inst-clmn3__img {
    margin-top: 0;
    margin-bottom: 0;
    width: 127px;
    height: 127px;
}


/* FOOTER */

.inst-footer {
    border-top: 2px solid rgba(40, 40, 40, 0.194);
    padding-top: 10px;
    padding-bottom: 36px;
}

.inst-footer__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inst-footer__btn {
    width: 20px;
    height: 20px;
}

.inst-footer__btn:not(:last-child) {
    margin-right: 54px;
}

.inst-footer__icon {
    width: 24px;
    height: 24px;
}

.bmo {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    padding: 1px;
    border: 2px solid var(--grey);
}

.bmo-img {
    border-radius: 50%;
}


/* HOME.HTML */

.home {
    padding-top: 8px;
    padding-bottom: 8px;
}

.home__container {
    display: flex;
    align-items: center;
    justify-content: right;
}

.home__btn {
    display: flex;
    justify-content: center;
    background-color: transparent;
    padding: 3px;
    cursor: pointer;
    border: 0;
}

.home__btn:not(:last-child) {
    margin-right: 10px;
}

.home__btn-icon {
    width: 20px;
    height: 20px;
}


/* HOME_CLMN1 */

.home-clmn1 {
    padding-top: 7px;
    padding-bottom: 7px;
}

.home-clmn1__container {
    display: flex;
    align-items: center;
}

.home-clmn1__btn {
    padding: 2px;
    display: flex;
    justify-content: center;
    border: 1px solid var(--grey);
    border-radius: 50%;
    cursor: pointer;
    border: 0;
}

.home-clmn1__btn:not(:last-child) {
    margin-right: 12px;
}

.home-clmn1__icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


/* HOME_CLMN2 */

.home-clmn2 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.home-clmn2__container {}

.home-clmn2__header {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-clmn2__header-profile {
    display: flex;
    align-items: center;
}

.home-clmn2__header-btn {
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    border: 0;
}

.home-clmn2__header-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.home-clmn2__header-text {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
}

.home-clmn2__header-dott {
    display: flex;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    border: 0;
}


/* HERO */

.home-clmn2__hero {}

.home-clmn2__hero-img {
    width: 390px;
    height: 440px;
    margin-top: 0;
    margin-bottom: 8px;
}

.home-clmn2__hero-icons-wrapp {
    margin-top: 0;
    margin-bottom: 16px;
    /* padding-left: 10px;
    padding-right: 10px; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* justify-content: center; */
}

.home-clmn2__hero-icons1 {
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.home-clmn2__hero-icon1-btn {
    display: flex;
    justify-content: center;
    background-color: transparent;
    padding: 2px;
    cursor: pointer;
    border: 0;
}

.home-clmn2__hero-icon1-btn:not(:last-child) {
    margin-right: 8px;
}

.home-clmn2__hero-icon1-icon {
    width: 20px;
    height: 20px;
}

.home-clmn2__hero-icons2 {
    margin-right: 140px;
}


/* .home-clmn2__hero-icons2-btn {
    display: flex;
    justify-content: center;
    background-color: transparent;
    padding: 2px;
    cursor: pointer;
}

.home-clmn2__hero-icons2-icon {
    width: 20px;
    height: 20px;
} */

.home-clmn2__hero-icons2-btn {
    display: flex;
    align-items: center;
}

.home-clmn2__hero-icons2-rnd {
    background-color: var(--gray);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.home-clmn2__hero-icons2-rnd:not(:last-child) {
    margin-right: 2px;
}

.home-clmn2__hero-icons2-rnd:hover {
    background-color: var(--blue);
}

.home-clmn2__hero-icons3 {}

.home-clmn2__hero-icons3-btn {
    display: flex;
    justify-content: center;
    background-color: transparent;
    padding: 2px;
    cursor: pointer;
    border: 0;
}

.home-clmn2__hero-icons3-icon {
    width: 20px;
    height: 20px;
}

.home-clmn2__hero-title {
    margin-top: 0;
    margin-bottom: 5px;
    /* padding-left: 10px;
    padding-right: 10px; */
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
}

.home-clmn2__hero-text {
    margin-top: 0;
    font-weight: 300;
    /* padding-left: 10px;
    padding-right: 10px; */
    font-size: 13px;
    line-height: 16px;
}


/* FIND.HTML */

.find {}

.find__container {}

.find-header {
    margin-top: 0;
    margin-bottom: 2px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
}

.find-header__input {
    padding: 8px;
    width: 358px;
    color: rgba(215, 215, 215, 0.388);
    height: 32px;
    background: #262626;
    border-radius: 7px;
    border: 0;
}

.find-imgs {
    margin-top: 0;
    display: flex;
}

.find-imgs__1 {
    width: 258px;
    height: 258px;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    margin-right: 1px;
}

.find-imgs__1__img {
    margin-top: 1px;
    margin-bottom: 1px;
}

.find-imgs__1__img:not(:last-child) {
    margin-right: 2px;
}

.find-imgs__2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 127px;
    height: 258px;
}

.find-imgs__2__img {}


/* .img1 {
    width: 127px;
    height: 127px;
}

.img2 {
    width: 127px;
    height: 259px;
} */


/* SHOP.HTML */

.shop {}

.shop__container {}

.shop-header {
    padding-top: 8px;
    padding-bottom: 8px;
}

.shop-header__1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shop-header__1-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: -0.408px;
}

.shop-header__1-icons {
    display: flex;
    align-items: center;
}

.shop-header__2 {
    display: flex;
    justify-content: center;
}

.shop-header__2-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.shop-header__2-item {}

.shop-header__2-item:not(:last-child) {
    margin-bottom: 5px;
}

.shop-header__2-input {
    padding: 8px;
    width: 358px;
    color: rgba(255, 255, 255, 0.388);
    height: 32px;
    background: #262626;
    border-radius: 7px;
    border: 0;
}

.shop-header__2-btn {
    padding: 8px;
    width: 358px;
    color: var(--white);
    height: 32px;
    background: #262626;
    border-radius: 7px;
    border: 0;
    cursor: pointer;
}


/* .shop__header-input {
    display: flex;
    justify-content: center;
}

.shop__header-btn {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    cursor: pointer;
    padding: 8px;
    width: 390px;
    height: 32px;
    background: #262626;
    border-radius: 7px;
    border: 0;
    color: var(--white);
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
} */


/* .shop__header-btn {
    display: flex;
    justify-content: center;
    text-decoration: none;
    border-radius: 7px;
    color: var(--white);
    background-color: var(--black);
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
} */

.shop__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.shop__item {
    height: 194px;
    margin-bottom: 2px;
}

.shop__item:not(:last-child) {
    margin-right: 1px;
}

.shop__img {
    width: 194px;
    height: 194px;
}


/* RETINA */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and ( min--moz-device-pixel-ratio: 2),
only screen and ( -o-min-device-pixel-ratio: 2/1),
only screen and ( min-device-pixel-ratio: 2),
only screen and ( min-resolution: 192dpi),
only screen and ( min-resolution: 2dppx) {}